/* Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the MDNichrome Ultra font (used for the logo) */
@font-face {
  font-family: 'Unbounded-Black';
  src: url('/fonts/MDNichrome-Ultra.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Define the MDNichrome Light font (used for other text) */
@font-face {
  font-family: 'Unbounded-Light';
  src: url('/fonts/Unbounded-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Set global font and apply custom background color */
:root {
  font-family: 'Unbounded-Light', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-[#EEEDE5]; /* Set the background color to #EEEDE5 */
  font-family: 'Unbounded-Light', sans-serif; /* Default font for the body */
}

#root {
  min-height: 100vh;
}

/* Specifically apply 'MDNichrome-Ultra' to the logo */
h1 {
  font-family: 'Unbounded-Light', sans-serif;
}
